.cont-detail {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .li-cont-detail {
        display: flex;
        .img-producto {
            width: 18rem;
        }
        .cont-descripcion {
            margin: 0 1rem;
            .p-nombre {
                font-size: 18px;
            }
            .p-descripcion {
                margin: 1rem 0;
            }
        }
    }
    .agreg-carr {
        background-color: rgb(156, 231, 248);
        padding: 1rem;
        margin: 1.5rem;
        width: 10rem;
    }
}

