.cart-widget { 
    display: flex;
    flex-direction: row;
    .cart-img {
        width: 4rem;
    }
    .counter {
        color: black;
        background-color: #FCDDCA;
        padding: 0 5px;
        border-radius: 20px;
        height: 20px;
    }
}