.li-cont {
    height: 15rem;
    width: 10rem;
    background-color: rgb(156, 231, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 1.5rem;
    .img-producto {
        width: 8rem;
    }
    .cont-descripcion {
        margin: 1rem;
    }
    .btn-detail {
        background-color: #F8FCFF;
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px black dashed;
        .link-detail {
            color: black;
        }
    }
}