.ul-links {
    display: flex;
    justify-content: space-between;
    .li-navbar {
        list-style: none;
        .link-navbar {
            font-size: 18px;
            color: black;
            margin: 0 2rem;
            padding: 1rem 0.5rem;
        }
    }
}