$color-bLanco :#F8FCFF;


.cont-header {
  background-color: $color-bLanco;
  border-bottom: 1px black dashed;
  height: 6.5rem;
  .header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 9rem;
  }
}
.main {
  margin: 3rem 9rem;
  height: 12rem;
  background-color: $color-bLanco;
  border: 1px black dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}