$color-celeste :#C5E6F9;

* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family:monospace;
	border: none;
	outline: none;
}
body {
    background-color: $color-celeste;
}